.head-card {
  border: solid 1px #eee;
  margin: 0.5rem;
  padding: 0.5rem;
  background: #eee;
  height: 25vh;
}

.head-card.selected,
.head-card:hover {
  background-color: rgb(206, 164, 61);
  color: white;
}

.head-card:hover {
  background-color: rgb(206, 164, 61, 0.7);
}
